body {
    padding:0;
    position:relative;
    overflow-y:scroll;
}

.navbar-brand {
    padding:10px 15px;
}

.container-sidebar {
    position:fixed;
    top:40px;
    left:0;
    width:250px;
    padding-top:10px;
    border-right:1px solid #ccc;
    height:100%;
}

.container-main {
    margin-left:250px;
    margin-top:40px;
    padding-bottom:100px;
}

.bottom-fade {
    height:100px;
    width:100%;
    position:fixed;
    bottom:0;

    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.model-detail-popup {
    z-index:10;
    padding:15px;
    max-width:none !important;
}

.model-detail-popup h2 {
    margin-top:0;
}
.indent-trademark {
     padding-top: 30px;
    padding-right: 55px;
    padding-bottom: 50px;
    padding-left: 55px;
}

span.model-body-indicator {
  display: none;
  color: #096c95;
  margin: 0 5px;
}